<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.Revature.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.Revature.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.Revature.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.Revature.servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManReqServlet</display-name>
    <servlet-name>ManReqServlet</servlet-name>
    <servlet-class>com.Revature.servlet.ManReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManReqServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PullReqsByEmp</display-name>
    <servlet-name>PullReqsByEmp</servlet-name>
    <servlet-class>com.Revature.servlet.PullReqsByEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PullReqsByEmp</servlet-name>
    <url-pattern>/PullReqsByEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovOrDenyServlet</display-name>
    <servlet-name>ApprovOrDenyServlet</servlet-name>
    <servlet-class>com.Revature.servlet.ApprovOrDenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovOrDenyServlet</servlet-name>
    <url-pattern>/decide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolvedRequests</display-name>
    <servlet-name>ResolvedRequests</servlet-name>
    <servlet-class>com.Revature.servlet.ResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolvedRequests</servlet-name>
    <url-pattern>/resolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerProfileServlet</display-name>
    <servlet-name>ManagerProfileServlet</servlet-name>
    <servlet-class>com.Revature.servlet.ManagerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerProfileServlet</servlet-name>
    <url-pattern>/managerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpViewApproved</display-name>
    <servlet-name>EmpViewApproved</servlet-name>
    <servlet-class>com.Revature.servlet.EmpViewApproved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewApproved</servlet-name>
    <url-pattern>/viewApproved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpViewDenied</display-name>
    <servlet-name>EmpViewDenied</servlet-name>
    <servlet-class>com.Revature.servlet.EmpViewDenied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewDenied</servlet-name>
    <url-pattern>/viewDenied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstNameUpdate</display-name>
    <servlet-name>FirstNameUpdate</servlet-name>
    <servlet-class>com.Revature.servlet.FirstNameUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstNameUpdate</servlet-name>
    <url-pattern>/fnUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLastNameUpdate</display-name>
    <servlet-name>EmpLastNameUpdate</servlet-name>
    <servlet-class>com.Revature.servlet.EmpLastNameUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLastNameUpdate</servlet-name>
    <url-pattern>/lnUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailUpdate</display-name>
    <servlet-name>EmailUpdate</servlet-name>
    <servlet-class>com.Revature.servlet.EmailUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailUpdate</servlet-name>
    <url-pattern>/emailUpdate</url-pattern>
  </servlet-mapping>
</web-app>